<!DOCTYPE html>
<html>
<head>
  <title>Quizr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <p class="alert alert-success span3"><button class="close" data-dismiss="alert">×</button><%= notice %></p>
  <p class="alert alert-error"><button class="close" data-dismiss="alert">×</button><%= alert %></p>
</body>
</html>
